* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  height: 50px;
  background-image: url("../images/profilepic/background.jpg");
  background-size: cover;
  width: 100%;
}
.header__menu {
  width: auto;
  margin: 10px 0 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.event {
  padding: 0 10px;
  background-image: url("../images/profilepic/background.jpg");
  background-size: cover;
}
.event__overlay {
  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.event__head {
  margin: 30px 0 20px 0;
}
.event__head--name {
  color: #ec5242;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.event__head--qoute {
  font-family: "Lato", sans-serif;
  margin: 5px 0 0 0;
  color: #272a31;
}
.event__head--verse {
  padding: 7px 0 0 0;
  font-weight: 600;
}
.event__desc {
  border: 3px solid #ec5242;
  padding: 10px;
}
.event__desc--content {
  color: #272a31;
}
.event__date {
  margin: 20px 0 40px 0;
}
.event__date--tframe {
  color: #272a31;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.event__date--location {
  margin-top: 5px;
  color: #272a31;
  font-size: 18px;
}

.program {
  background-image: url("../images/pexels-daniel-absi-952670.jpg");
  background-size: cover;
  color: white;
}
.program__header {
  text-align: center;
  margin: 30px 0 10px 0;
}
.program__line {
  width: 40px;
  margin: auto;
  height: 3;
  color: #ec5242;
  background-color: #ec5242;
  border: none;
}
.program__list {
  margin: 25px 0;
}
.program__item {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.program__item--icon {
  width: 40px;
  margin: 0 15px 0 0;
}
.program__item--title {
  width: 40px;
  height: auto;
  margin: 0 35px 0 0;
  color: #ec5242;
}
.program__item--desc {
  margin: 0 0 0 0;
  padding: 5px;
}
.program__join {
  background-color: #ec5242;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  width: 80%;
  height: 60px;
  margin: 12px 37px 40px 37px;
}

.speaker {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.speaker__header {
  text-align: center;
  margin: 30px 0 10px 0;
  color: #272a31;
}
.speaker__line {
  width: 40px;
  margin: auto;
  height: 3;
  color: #ec5242;
  background-color: #ec5242;
  border: none;
}
.speaker__card {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 30px 0 0 0;
}
.speaker__img {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  width: 130px;
  height: 120px;
  border-radius: 50%;
  border: 2px #ec5242 solid;
  margin: 0 15px 0 0;
}
.speaker__pic {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.speaker__name {
  font-size: 22px;
  font-weight: 700;
  color: #272a31;
}
.speaker__qual {
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  color: #ec5242;
}
.speaker__line2 {
  width: 20px;
  color: #ec5242;
}

/*# sourceMappingURL=style.css.map */
