* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
}

body {
  width: 100vw;
  // overflow-x: hidden;
}
