
footer {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    align-content: center;

align-items: center;


    img{
        width: 150px;
        max-width: 50%;
    }
}