$media-desktop: "only screen and (min-width : 768px)";

footer {
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;

  @media #{$media-desktop} {
    justify-content: center;
    margin: 0 0 0 0;
  }

  img {
    width: 150px;
    max-width: 50%;
    text-align: center;
  }

  .footer__info {
    width: 50%;
  }
}

.footer-black {
  background-color: #272a31;
  color: white;

  @media #{$media-desktop} {
    display: none;
  }
}

.footer-white {
  @media #{$media-desktop} {
    background-color: white;
    color: #272a31;
    display: flex;
  }
}

.footer-white1 {
  background-color: white;
  color: #272a31;

  @media #{$media-desktop} {
    display: none;
  }
}

.footer-black1 {
  @media #{$media-desktop} {
    background-color: #272a31;
    color: white;
    display: flex;
  }
}
