$media-desktop: "only screen and (min-width : 993px)";


footer {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  align-items: center;

  @media #{$media-desktop} {
    justify-content: center;
  }

  img {
    width: 150px;
    max-width: 50%;
  }
}
