$media-desktop: "only screen and (min-width : 768px)";

.container1 {
  display: flex;
  flex-direction: column;
}

.event {
  padding: 0 10px;
  background-image: url("../images/profilepic/background.jpg");
  background-size: cover;

  @media #{$media-desktop} {
    height: 100vh;
  }

  &__overlay {
    padding-top: 40px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);

    @media #{$media-desktop} {
      padding-top: 70px;
    }
  }

  &__head {
    margin: 0 0 20px 0;

    @media #{$media-desktop} {
      width: 90%;
      padding: 0 140px;
    }

    &--name {
      color: #ec5242;
      font-size: 30px;
      font-family: "Lato", sans-serif;
      font-weight: 900;

      @media #{$media-desktop} {
        font-size: 60px;
      }
    }

    &--qoute {
      font-family: "Lato", sans-serif;
      margin: 5px 0 0 0;
      color: #272a31;
    }

    &--verse {
      padding: 7px 0 0 0;
      font-weight: 600;
    }
  }

  &__desc {
    background-color: rgb(248, 248, 255);
    border: 3px solid #ec5242;
    line-height: 25px;
    padding: 10px;

    @media #{$media-desktop} {
      width: 40%;
      margin: 0 140px;
    }

    &--content {
      color: #272a31;
    }
  }

  &__date {
    margin: 20px 0 40px 0;

    @media #{$media-desktop} {
      width: 100%;
      padding: 0 140px;
    }

    &--tframe {
      color: #272a31;
      font-size: 25px;
      font-family: "Lato", sans-serif;
      font-weight: 900;
    }

    &--location {
      margin-top: 5px;
      color: #272a31;
      font-size: 18px;
    }
  }
}

.program {
  background-image: url("../images/pexels-daniel-absi-952670.jpg");
  background-size: cover;
  color: white;

  @media #{$media-desktop} {
    padding: 50px 0;
  }

  &__header {
    text-align: center;
    margin: 30px 0 10px 0;
  }

  &__line {
    width: 40px;
    margin: auto;
    height: 3px;
    color: #ec5242;
    background-color: #ec5242;
    border: none;
  }

  &__list {
    margin: 25px 0;

    @media #{$media-desktop} {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);

    @media #{$media-desktop} {
      flex-direction: column;
      text-align: center;
      width: 200px;
      padding: 50px 0;
      margin: 0 5px 20px 0;
    }

    &--icon {
      width: 40px;
      margin: 0 15px 0 0;
    }

    &--title {
      width: 40px;
      height: auto;
      margin: 0 35px 0 0;
      color: #ec5242;
    }

    &--desc {
      margin: 0 0 0 0;
      padding: 5px;
    }
  }

  &__join {
    background-color: #ec5242;
    color: white;
    font-size: 18px;
    border-radius: 12px;
    width: 80%;
    height: 60px;
    margin: 12px 37px 40px 37px;

    @media #{$media-desktop} {
      display: none;
    }
  }

  .see {
    text-align: center;
    text-decoration: underline;
  }
}

.speaker {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 40px 0;

  &__header {
    text-align: center;
    margin: 0 0 10px 0;
    color: #272a31;
  }

  &__line {
    width: 40px;
    margin: auto;
    height: 3px;
    color: #ec5242;
    background-color: #ec5242;
    border: none;
  }

  &__cards {
    display: flex;
    flex-direction: column;

    @media #{$media-desktop} {
      width: 70%;
      height: auto;
      flex-direction: row;
      flex-wrap: wrap;
      align-self: center;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 30px 0 0 0;

    @media #{$media-desktop} {
      flex-basis: 50%;
    }
  }

  &__img {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    width: 140px;
    height: 120px;
    // border-radius: 50%;
    // border: 2px #ec5242 solid;
    margin: 0 15px 0 0;
  }

  &__pic {
    // border-radius: 50%;
    width: 100%;
    height: auto;
  }

  &__name {
    font-size: 22px;
    font-weight: 700;
    color: #272a31;
  }

  &__qual {
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    color: #ec5242;
    margin: 7px 0 0 0;
  }

  &__line2 {
    margin: 7px 0;
    width: 20px;
    height: 3px;
    color: #ec5242;
    background-color: #ec5242;
    border: none;
  }

  &__desc {
    color: #272a31;

    @media #{$media-desktop} {
      width: 80%;
    }
  }
}

.desktop {
  display: none;

  @media #{$media-desktop} {
    display: block;
  }
}
